Repository LederWorks/terraform-provider-easy-brick-category-purpose, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Ledermayer, @LederWorks/easy-terraform, @LederWorks/lederworks-admins

.github/CODEOWNERS:

# Global rule
* @Ledermayer

# All terraform code 
*.tf @LederWorks/easy-terraform

# Content Folder
/.content/** @LederWorks/lederworks-admins

# Github Folder
/.github/** @LederWorks/lederworks-admins

update
  .content/header.MD
  .example/example.tf
  .test/module_test.go
  .test/test.tf
  terraform.tf
  variables-common.tf
Owners: @LederWorks/lederworks-admins, @LederWorks/easy-terraform, @Ledermayer

update3
  .test/auth.tf
  .test/module_test.go
  .test/outputs.tf
  .test/rgrp.tf
  .test/test.tf
Owners: @LederWorks/easy-terraform, @Ledermayer

tfdocs config location
  .github/workflows/documentation.yml
Owners: @LederWorks/lederworks-admins

config folder
  .config/.terraform-docs.yml
  .config/footer.MD
  .config/header.MD
  .github/workflows/documentation.yml
Owners: @Ledermayer, @LederWorks/lederworks-admins

update3
  .config/.terraform-docs.yml
  .config/footer.txt
  .config/header.txt
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  terraform.tf
  variables-common.tf
Owners: @Ledermayer, @LederWorks/lederworks-admins, @LederWorks/easy-terraform

authors
  .config/footer.txt
  .config/header.txt
Owners: @Ledermayer

2023 september update
  .azuredevops/pull_request_template/branches/main.md
  .config/.terraform-docs.yml
  .config/footer.txt
  .config/header.txt
  .example/example1.tf
  .example/example2.tf
  .github/gitversionconfig.yml
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/terratest.yml
  .test/go.mod
  CHANGELOG.md
  LICENSE
  data.tf
  locals.tf
  main.tf
  outputs.tf
  terraform.tf
  variables-common.tf
Owners: @Ledermayer, @LederWorks/easy-terraform, @LederWorks/lederworks-admins

examples
  .examples/example1.tf
  .examples/example2.tf
Owners: @LederWorks/easy-terraform

examples
  .examples/example1.tf
  .examples/example2.tf
Owners: @LederWorks/easy-terraform

v0.3.0
  .azuredevops/pull_request_template/branches/main.md
  .examples/example1.tf
  .examples/example2.tf
  .github/pull_request_template.md
  .github/workflows/documentation.yml
  .github/workflows/release.yml
  .github/workflows/terratest.yml
  .test/01-default/go.mod
  .test/01-default/module_test.go
  .test/rgrp.tf
  .test/test.tf
  CHANGELOG.md
  examples/01-default/auth.tf
  examples/01-default/outputs.tf
  examples/01-default/rgrp.tf
  examples/01-default/test.tf
  terraform.tf
  variables_azure_common.tf
  variables_common.tf
Owners: @Ledermayer, @LederWorks/easy-terraform, @LederWorks/lederworks-admins

fixxes
  .config/.terraform-docs.yml
  .github/workflows/terratest.yml
  CHANGELOG.md
Owners: @Ledermayer, @LederWorks/lederworks-admins

v0.3.1
  CHANGELOG.md
Owners: @Ledermayer

2024
  .config/footer.txt
Owners: @Ledermayer
